<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h2>Hello OpenCV.js</h2>
<p id="status">OpenCV.js is loading...</p>
<div>
    <div class="inputoutput">
        <video id="localVideo" height="480" width="640" ></video>
{#        class="hidden"#}
        <div class="caption">Video In</div>
    </div>

{#    <div class="inputoutput">#}
{#        <canvas id="canvasCameraOut"></canvas>#}
{#        <div class="caption">Video Out</div>#}
{#    </div>#}
{##}
{#    <div class="inputoutput">#}
{#        <canvas id="videoMask"></canvas>#}
{#        <div class="caption">Video Mask</div>#}
{#    </div>#}
{##}
{#    <div class="inputoutput">#}
{#        <canvas id="canvasDraw" height="480" width="640"></canvas>#}
{#        <div class="caption">Drawingpad</div>#}
{#    </div>#}
{##}
{#    <div class="inputoutput">#}
{#        <canvas id="canvasDraw2" height="480" width="640"></canvas>#}
{#        <div class="caption">Drawingpad2</div>#}
{#    </div>#}
{##}
{#    <div class="inputoutput">#}
{#        <canvas id="canvasDrawCombine" height="480" width="640"></canvas>#}
{#        <div class="caption">Drawingpad Mix</div>#}
{#    </div>#}

        <div class="inputoutput">
        <canvas id="canvasFS"></canvas>
        <div class="caption">Fulscreen Mix</div>
    </div>

</div>

<script type="text/javascript">

    function init_video() {
        let video = document.getElementById('localVideo');

        navigator.mediaDevices.getUserMedia({video: true, audio: false})
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err) {
                console.log("An error occurred! " + err);
            });
    }

    function simple_sample_video() {
        let video = document.getElementById('localVideo');

        let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
        let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
        let cap = new cv.VideoCapture(video);

        const FPS = 30;
        let i = 0;

        function processVideo() {
            try {
                let begin = Date.now();
                // start processing.
                cap.read(src);
                cv.cvtColor(src, dst, cv.COLOR_RGBA2GRAY);
                //cv.imshow('canvasCameraOut', dst);
                // schedule the next one.
                let delay = 1000 / FPS - (Date.now() - begin);
                if (i % 120 == 0) {
                    //console.log(delay);
                    i = 0
                }
                //setTimeout(processVideo, delay);
            } catch (err) {
                console.log(err);
            }
        }

        setTimeout(processVideo, 0);

    }

    function draw_lines(destination, canvas_width, canvas_height, line_width, line_space, color, degree) {
        let y_0 = 0;
        let x_1 = 0;
        let y_1 = canvas_height;
        for (let x_0 = Math.min(0, (0 - (degree * canvas_height)));
             Math.min(x_0, x_1) <= canvas_width;// && Math.max(x_1, x_0) >= 0;
             x_0 += (line_width + line_space)) {
            x_1 = x_0 + (degree * canvas_height)
            cv.line(destination, {x: x_0, y: y_0}, {x: x_1, y: y_1}, color, line_width);
        }
    }

    function draw_some_shapes() {
        let canvas = document.getElementById('canvasDraw');

        let canvas_size = new cv.Size(640, 480);
        let fullscreen_size = new cv.Size(window.innerWidth, window.innerHeight);
        let dst1 = cv.Mat.zeros(fullscreen_size, cv.CV_8U);
        draw_lines(dst1, fullscreen_size.width, fullscreen_size.height, 1, 6, [255, 0, 0, 0], 1)
        //cv.imshow('canvasDraw', dst1);

        let dst2 = cv.Mat.zeros(fullscreen_size, cv.CV_8U);
        draw_lines(dst2, fullscreen_size.width, fullscreen_size.height, 1, 6, [255, 0, 0, 0], -1)
        //cv.imshow('canvasDraw2', dst2);


        let dst_mix = new cv.Mat();
        let mask = new cv.Mat();
        let dtype = -1;


        let videoElement = document.getElementById('localVideo');
        let videoCapture = new cv.VideoCapture(videoElement);
        let videoIn = new cv.Mat(videoElement.height, videoElement.width, cv.CV_8UC4);
        let videoMask = new cv.Mat(videoElement.height, videoElement.width, cv.CV_8UC1);


        let lowScalar = new cv.Scalar(54, 54, 54, 255);
        let highScalar = new cv.Scalar(200, 200, 200, 255);
        let low = new cv.Mat(canvas_size.height, canvas_size.width, videoIn.type(), lowScalar);
        let high = new cv.Mat(canvas_size.height, canvas_size.width, videoIn.type(), highScalar);
        let videoMixFullscreen = new cv.Mat();
        const FPS = 30;

        let canvasCombine = document.getElementById('canvasDrawCombine');

        //canvasCombine.width = c_w;
        //canvasCombine.height = c_h;
        let rezised_mask = new cv.Mat()
        function processVideo() {
          //  try {
                let begin = Date.now();
                //dst_mix.delete()
                //dst_mix = new cv.Mat(canvas_size, cv.CV_8UC4);
                videoMixFullscreen.delete()
                videoMixFullscreen = new cv.Mat(fullscreen_size.height, fullscreen_size.width, cv.CV_8UC4)
                // start processing.
                videoCapture.read(videoIn);
                // cv.cvtColor(src, dst, cv.COLOR_RGBA2GRAY);
                cv.inRange(videoIn, low, high, videoMask);

                //cv.imshow('videoMask', videoMask);
                //cv.add(dst1, dst2, dst_mix, videoMask, dtype);

                //cv.resize(dst_mix, videoMixFullscreen, fullscreen_size, 0, 0, cv.INTER_AREA);
                cv.resize(videoMask, rezised_mask, fullscreen_size, 0, 0, cv.INTER_AREA);
                dst2.copyTo(videoMixFullscreen, mask);
                dst1.copyTo(videoMixFullscreen, rezised_mask);
                //cv.imshow('canvasDrawCombine', dst_mix);
                cv.imshow('canvasFS', videoMixFullscreen);
                // schedule the next one.
                let delay = 1000 / FPS - (Date.now() - begin);
                setTimeout(processVideo, delay);
         //   } catch (err) {
           //     console.log(err);
           // }
        }

        setTimeout(processVideo, 0);


        //dst1.delete();
        //dst2.delete();
        //dst_mix.delete();
    }

    function onOpenCvReady() {
        document.getElementById('status').innerHTML = 'OpenCV.js is ready.';
        cv['onRuntimeInitialized'] = () => {
            document.getElementById('status').innerHTML = 'OpenCV.js is initialized.';
            init_video();
            simple_sample_video();
            draw_some_shapes();
        }
    }
</script>
<script src="{{ url_for('static', filename='opencv.js') }}" onload="onOpenCvReady();" type="text/javascript" ,></script>

</body>
</html>