<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Veivask</title>
    <meta name="author" content="Anders S N">
    <link rel="stylesheet" href={{ url_for('static', filename='css/myCss.css') }}/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
</head>

<body>
<h1>Veivask</h1>
<div id="mapid"></div>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin="">
</script>
<script>

    function loadJSON(callback) {
        var xobj = new XMLHttpRequest();
        xobj.overrideMimeType("application/json");
        xobj.open('GET', 'static/json/streetdata.json', true); // Replace 'my_data' with the path to your file
        xobj.onreadystatechange = function () {
            if (xobj.readyState == 4 && xobj.status == "200") {
                // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                callback(xobj.responseText);
            }
        };
        xobj.send(null);
    }

    loadJSON(function (response) {
        // Parse JSON string into object
        let jsonStreets = JSON.parse(response);
        console.info(jsonStreets)

        let mymap = L.map('mapid').setView([59.9175, 10.76], 13);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiYW5kZXJzdCIsImEiOiJjazhtcnJwZncwbWNjM21wc3NxZmd6OXhpIn0.8G3fXWzn8PoNxiYBqNOM6w'
        }).addTo(mymap);

        let myLine = {
            "type": "LineString",
            "coordinates": [[10.761, 59.930], [10.761, 59.920]],
            "properties": {
                "name": "Toftes gate",
                "popupContent": "This street will be cleaned at xx.xx"
            },
        };

        let disengrenda = {
            "type": "FeatureCollection",
            "licence": "Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",
            "features": [{
                "type": "Feature",
                "properties": {
                    "place_id": 140865685,
                    "osm_type": "way",
                    "osm_id": 221095954,
                    "display_name": "Disengrenda, Nordre Åsen, Disen, Nordre Aker, Oslo, 0587, Norway",
                    "place_rank": 26,
                    "category": "highway",
                    "type": "residential",
                    "importance": 0.21,
                    "address": {
                        "road": "Disengrenda",
                        "neighbourhood": "Nordre Åsen",
                        "suburb": "Disen",
                        "city_district": "Nordre Aker",
                        "city": "Oslo",
                        "county": "Oslo",
                        "postcode": "0587",
                        "country": "Norway",
                        "country_code": "no"
                    }
                },
                "bbox": [10.7956967, 59.9419595, 10.7986486, 59.9439399],
                "geometry": {
                    "type": "LineString",
                    "coordinates": [[10.7956967, 59.9439399], [10.796046, 59.943282], [10.7960558, 59.9432635], [10.7962046, 59.9426645], [10.7963428, 59.9425204], [10.7966162, 59.9424691], [10.7980585, 59.9425375], [10.7985471, 59.9425649], [10.7985655, 59.9424744], [10.7986038, 59.9422497], [10.7986486, 59.9420727], [10.7986255, 59.9419595]]
                }
            }, {
                "type": "Feature",
                "properties": {
                    "place_id": 102161293,
                    "osm_type": "way",
                    "osm_id": 62022288,
                    "display_name": "Disengrenda, Nordre Åsen, Disen, Nordre Aker, Oslo, 0588, Norway",
                    "place_rank": 26,
                    "category": "highway",
                    "type": "residential",
                    "importance": 0.21,
                    "address": {
                        "road": "Disengrenda",
                        "neighbourhood": "Nordre Åsen",
                        "suburb": "Disen",
                        "city_district": "Nordre Aker",
                        "city": "Oslo",
                        "county": "Oslo",
                        "postcode": "0588",
                        "country": "Norway",
                        "country_code": "no"
                    }
                },
                "bbox": [10.7985471, 59.9425649, 10.8002769, 59.9427146],
                "geometry": {
                    "type": "LineString",
                    "coordinates": [[10.7985471, 59.9425649], [10.7995288, 59.9426276], [10.7996895, 59.9426847], [10.8002769, 59.9427146]]
                }
            }]
        }

        let lineFeature = {
            "type": "Feature",
            "geometry": {
                "type": "LineString",
                "coordinates": [[10.761, 59.930], [10.761, 59.920]]

            },
            "properties": {
                "popupContent": "This is a free bus line that will take you across downtown.",
                "underConstruction": false
            },
        }

        let geojsonFeature = {
            "type": "Feature",
            "properties": {
                "name": "Toftes gate",
                "popupContent": "This street will be cleaned at xx.xx"
            },
            "geometry": {
                "type": "LineString",
                "coordinates": [[10.761, 59.930], [10.761, 59.920]],
            }
        };
        let myStyle = {
            "color": "#ff7800",
            "weight": 5,
            "opacity": 0.65
        };

        let twoTestStreets = {
            'type': 'FeatureCollection',
            'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
            'features': [{
                'type': 'Feature',
                'properties': {
                    'place_id': 138450132,
                    'osm_type': 'way',
                    'osm_id': 221067257,
                    'display_name': 'Aasmund Vinjes vei, Vinderen, Vestre Aker, Oslo, 0373, Norge',
                    'place_rank': 26,
                    'category': 'highway',
                    'type': 'residential',
                    'importance': 0.4,
                    'address': {
                        'road': 'Aasmund Vinjes vei',
                        'suburb': 'Vinderen',
                        'city_district': 'Vestre Aker',
                        'city': 'Oslo',
                        'county': 'Oslo',
                        'postcode': '0373',
                        'country': 'Norge',
                        'country_code': 'no'
                    },
                    'wash_date': '27.04.2020',
                    'washed': false
                },
                'bbox': [10.7104197, 59.9425863, 10.7116317, 59.945188],
                'geometry': {
                    'type': 'LineString',
                    'coordinates': [[10.7108061, 59.945188], [10.7106517, 59.9445744], [10.7116317, 59.9438018], [10.7104197, 59.9425863]]
                }
            }, {
                'type': 'Feature',
                'properties': {
                    'place_id': 112289045,
                    'osm_type': 'way',
                    'osm_id': 118379926,
                    'display_name': 'Aasmund Vinjes vei, Fjellhamar, Lørenskog, Viken, 1462, Norge',
                    'place_rank': 26,
                    'category': 'highway',
                    'type': 'residential',
                    'importance': 0.4,
                    'address': {
                        'road': 'Aasmund Vinjes vei',
                        'suburb': 'Fjellhamar',
                        'town': 'Lørenskog',
                        'county': 'Lørenskog',
                        'postcode': '1462',
                        'country': 'Norge',
                        'country_code': 'no'
                    },
                    'wash_date': '27.04.2020',
                    'washed': false
                },
                'bbox': [10.9749346, 59.9341454, 10.977155, 59.9359726],
                'geometry': {
                    'type': 'LineString',
                    'coordinates': [[10.9749346, 59.9359726], [10.9757691, 59.9352794], [10.9762088, 59.9348712], [10.9764047, 59.9347187], [10.9768619, 59.9343812], [10.9770595, 59.9342197], [10.977155, 59.9341454]]
                }
            }, {
                'type': 'Feature',
                'properties': {
                    'place_id': 97504932,
                    'osm_type': 'way',
                    'osm_id': 44149512,
                    'display_name': 'Aasmund Vinjes vei, Gamle Skjetten, Lahaugmoen, Skjettenbyen, Lillestrøm, Viken, 2013, Norge',
                    'place_rank': 26,
                    'category': 'highway',
                    'type': 'residential',
                    'importance': 0.4,
                    'address': {
                        'road': 'Aasmund Vinjes vei',
                        'residential': 'Gamle Skjetten',
                        'hamlet': 'Lahaugmoen',
                        'village': 'Skjettenbyen',
                        'county': 'Lillestrøm',
                        'postcode': '2013',
                        'country': 'Norge',
                        'country_code': 'no'
                    },
                    'wash_date': '27.04.2020',
                    'washed': false
                },
                'bbox': [10.9898745, 59.9590291, 10.9941107, 59.9608145],
                'geometry': {
                    'type': 'LineString',
                    'coordinates': [[10.9941107, 59.9590291], [10.9922191, 59.9598094], [10.9907848, 59.9603851], [10.9907565, 59.9603965], [10.9902289, 59.9606082], [10.9900263, 59.9607041], [10.9899346, 59.96075], [10.9898745, 59.9608145]]
                }
            }, {
                'type': 'Feature',
                'properties': {
                    'place_id': 138450132,
                    'osm_type': 'way',
                    'osm_id': 221067257,
                    'display_name': 'Aasmund Vinjes vei, Vinderen, Vestre Aker, Oslo, 0373, Norge',
                    'place_rank': 26,
                    'category': 'highway',
                    'type': 'residential',
                    'importance': 0.4,
                    'address': {
                        'road': 'Aasmund Vinjes vei',
                        'suburb': 'Vinderen',
                        'city_district': 'Vestre Aker',
                        'city': 'Oslo',
                        'county': 'Oslo',
                        'postcode': '0373',
                        'country': 'Norge',
                        'country_code': 'no'
                    },
                    'wash_date': '16.04.2020',
                    'washed': false
                },
                'bbox': [10.7104197, 59.9425863, 10.7116317, 59.945188],
                'geometry': {
                    'type': 'LineString',
                    'coordinates': [[10.7108061, 59.945188], [10.7106517, 59.9445744], [10.7116317, 59.9438018], [10.7104197, 59.9425863]]
                }
            }, {
                'type': 'Feature',
                'properties': {
                    'place_id': 112289045,
                    'osm_type': 'way',
                    'osm_id': 118379926,
                    'display_name': 'Aasmund Vinjes vei, Fjellhamar, Lørenskog, Viken, 1462, Norge',
                    'place_rank': 26,
                    'category': 'highway',
                    'type': 'residential',
                    'importance': 0.4,
                    'address': {
                        'road': 'Aasmund Vinjes vei',
                        'suburb': 'Fjellhamar',
                        'town': 'Lørenskog',
                        'county': 'Lørenskog',
                        'postcode': '1462',
                        'country': 'Norge',
                        'country_code': 'no'
                    },
                    'wash_date': '16.04.2020',
                    'washed': false
                },
                'bbox': [10.9749346, 59.9341454, 10.977155, 59.9359726],
                'geometry': {
                    'type': 'LineString',
                    'coordinates': [[10.9749346, 59.9359726], [10.9757691, 59.9352794], [10.9762088, 59.9348712], [10.9764047, 59.9347187], [10.9768619, 59.9343812], [10.9770595, 59.9342197], [10.977155, 59.9341454]]
                }
            }, {
                'type': 'Feature',
                'properties': {
                    'place_id': 97504932,
                    'osm_type': 'way',
                    'osm_id': 44149512,
                    'display_name': 'Aasmund Vinjes vei, Gamle Skjetten, Lahaugmoen, Skjettenbyen, Lillestrøm, Viken, 2013, Norge',
                    'place_rank': 26,
                    'category': 'highway',
                    'type': 'residential',
                    'importance': 0.4,
                    'address': {
                        'road': 'Aasmund Vinjes vei',
                        'residential': 'Gamle Skjetten',
                        'hamlet': 'Lahaugmoen',
                        'village': 'Skjettenbyen',
                        'county': 'Lillestrøm',
                        'postcode': '2013',
                        'country': 'Norge',
                        'country_code': 'no'
                    },
                    'wash_date': '16.04.2020',
                    'washed': false
                },
                'bbox': [10.9898745, 59.9590291, 10.9941107, 59.9608145],
                'geometry': {
                    'type': 'LineString',
                    'coordinates': [[10.9941107, 59.9590291], [10.9922191, 59.9598094], [10.9907848, 59.9603851], [10.9907565, 59.9603965], [10.9902289, 59.9606082], [10.9900263, 59.9607041], [10.9899346, 59.96075], [10.9898745, 59.9608145]]
                }
            }]
        }


        function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.wash_date) {
                layer.bindPopup(feature.properties.wash_date)
            }
        }

        L.geoJSON(jsonStreets, {
                onEachFeature: onEachFeature,
                style: function (feature) {
                    switch (feature.properties.washed) {
                        case true:
                            return {color: "rgba(0,158,6,0.82)"};
                        case false:
                            return {color: "rgba(101,28,14,0.82)"};
                    }
                }
            }
        ).addTo(mymap);
    });

</script>
</body>
</html>