<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Veivask</title>
    <meta name="author" content="Anders S N">
    <link rel="stylesheet" href={{ url_for('static', filename='css/myCSS.css') }}/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
</head>

<body>
<h1>Veivask</h1>
<div id="mapid"></div>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin="">
</script>
<script>

    function loadJSON(callback) {
        var xobj = new XMLHttpRequest();
        xobj.overrideMimeType("application/json");
        xobj.open('GET', 'static/json/streetdata.json', true); // Replace 'my_data' with the path to your file
        xobj.onreadystatechange = function () {
            if (xobj.readyState == 4 && xobj.status == "200") {
                // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                callback(xobj.responseText);
            }
        };
        xobj.send(null);
    }

    loadJSON(function (response) {
        // Parse JSON string into object
        let jsonStreets = JSON.parse(response);
        console.info(jsonStreets)

        let mymap = L.map('mapid').setView([59.9175, 10.76], 13);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiYW5kZXJzdCIsImEiOiJjazhtcnJwZncwbWNjM21wc3NxZmd6OXhpIn0.8G3fXWzn8PoNxiYBqNOM6w'
        }).addTo(mymap);

        function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.wash_date) {
                layer.bindPopup(feature.properties.wash_date)
            }
        }

        L.geoJSON(jsonStreets, {
                onEachFeature: onEachFeature,
                style: function (feature) {
                    switch (feature.properties.washed) {
                        case true:
                            return {color: "rgba(0,158,6,0.82)"};
                        case false:
                            return {color: "rgba(101,28,14,0.82)"};
                    }
                }
            }
        ).addTo(mymap);
    });

</script>
</body>
</html>